<p id="notice"><%= notice %></p>

<h1>Loards</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Bio</th>
      <th>Birth</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @loards.each do |loard| %>
      <tr>
        <td><%= loard.name %></td>
        <td><%= loard.bio %></td>
        <td><%= loard.birth %></td>
        <td><%= link_to 'Show', loard %></td>
        <td><%= link_to 'Edit', edit_loard_path(loard) %></td>
        <td><%= link_to 'Destroy', loard, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Loard', new_loard_path %>
